.card{
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: .5s all ease;
    cursor: pointer;
}
.card:hover{
    transform: scale(.9);
}
.card__image{
    width: 100%;
    height: auto;
    display: block;
}
.card__name{
    color: white;
    
}
.card__link{
    text-decoration: none;

}